@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #f4f4f4f4;
  line-height: 1.5;
  background-color: #2c2a31;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0 2px 5px;
}

.logo {
  font-size: 2rem;
  color: #f4f4f4;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f4f4f4;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #3786a9;
}

.routine-popup {
  display: grid;
  place-content: center;
  height: 100dvh;
  background-color: #2c2a31;
}


h2{
  font-size: 4rem;
  font-weight: 800;
  margin: 0px 0px 20px 0px;
}

#routine-form{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  font-size: 2rem;
}

.submit{
  padding: 6px 12px;
  margin: 30px 0px 0px 0px;
  font-size: 1rem;
  border-radius: 1rem;
}


